.container {
    display: flex;
    height: 99.5vh;
    /*border: 2px solid darkgoldenrod;*/
    overflow: hidden;
}

.messages,
.panel {
    flex: 2;
    /*border: 1px solid red;*/
    height: inherit;
}

.messages {
    flex: 3;
}

.menu {
    display: flex;
    justify-content: flex-start;
}

.menu-item {
    display: inline-block;
    text-align: center;
    /*border: 1px solid green;*/
    flex: 1;
}

.menu {
    background-color: #3B3F9A;
    display: flex;
    padding: 25px 0;
    padding-bottom: 25px;
    margin: 0;
}

.user {
    /*border: 1px solid crimson;*/
    padding: 20px;
    margin: 0;
    /*line-height: 100%;*/
}

.users {
    height: 98vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #3B3F9A;
    overflow: scroll;
}

#search-user {
    margin: 0 auto;
}

#ham {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

#ham .top, #ham .middle, #ham .bottom {
    background-color: white;
}


.top,
.middle,
.bottom {
    width: 20px;
    height: 2px;
    background-color: black;
    /*margin-bottom: 5px;*/
}

#back_btn::after {
    content: "<";
}

img {
    border-radius: 50%;
}

.messages>ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 98vh;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

.messages>ul .left {
    align-self: flex-start;
    background-color: cyan;
    background-color: #969AD9;
}

.messages>ul .right {
    align-self: flex-end;
    background-color: #F1F1F9;
}

.messages>ul>li {
    margin: 5px 0;
    width: 50%;
    border-radius: 1vh;
}

.messages>ul .right img {
    float: right;
}