.container {
    display: flex;
    height: 99.5vh;
    border: 2px solid darkgoldenrod;
    overflow: hidden;
}

.messages,
.panel {
    flex: 2;
    border: 1px solid red;
    height: inherit;
}

.messages {
    flex: 3;
}

.menu {
    display: flex;
    justify-content: flex-start;
}

.menu-item {
    display: inline-block;
    text-align: center;
    border: 1px solid green;
    flex: 1;
}

.menu {
    display: flex;
    padding: 0;
    margin: 0;
}

.user {
    border: 1px solid crimson;
    padding: 20px;
    margin: 0;
    /*line-height: 100%;*/
}

.users {
    height: 98vh;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

#search-user {
    margin: 0 auto;
}

#ham {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

#ham .top {
    background-color: darkviolet;
}

#ham .middle {
    background-color: brown;
}

#ham .bottom {
    background-color: peru;
}

.top,
.middle,
.bottom {
    width: 20px;
    height: 2px;
    background-color: black;
    /*margin-bottom: 5px;*/
}

#back_btn::after {
    content: "<";
}

img {
    border-radius: 50%;
}